@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #270082;
    --white: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --blue: #281154;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./style/Fonts/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('./style/Fonts/static/RobotoSerif-Regular.ttf');
}

.roboto-serif-<uniquifier> {
    font-family: "Roboto Serif", serif;

    font-style: normal;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--purple); */
}

.main-header {
    background-color: var(--purple);
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
    position: relative;


}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    /* flex-wrap: wrap; */
}

.logo {
    padding: 15px;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);

}

.logo h1 {
    color: var(--white);
    font-family: 'Roboto Serif';
    /* font-weight: 600; */
    font-size: 4rem;
    margin: 0px 0px 0px 80px;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    padding: 1vw;
    gap: 2.1vw;
}

.icon-btn {
    display: none;
}

.navigation p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.3rem;
    margin: 0px 50px 0px 0px;
    /* padding: 20px; */
    font-weight: 350;
}

@media (max-width: 650px) {
    .navigation p {
        display: none;

    }

    .icon-btn {
        display: block;
        font-size: 2.2rem;
        color: var(--white);
        cursor: pointer;
        margin-right: 20px;
        /* transition-duration: 0.9s; */
    }

    .logo h1 {
        font-size: 2.2rem;
        margin: 0px 0px 0px 10px;

    }

    .logo {
        margin: 0px 0px 0px 44.8px;
        padding: 8.4px;
    }
   
}

@media (max-width: 1024px) {
    .navigation p {
        font-size: 2.2rem;
    }

    .logo {
        padding: 12px;
        font-size: 1.6rem;

    }

    .logo h1 {
        font-size: 3.2rem;
        margin: 0px 0px 0px 64px;
    }

    .navigation {
        font-size: 1.6rem;
        padding: 8px;
    }

    .navigation p {
        font-size: 1.8rem;
        /* padding: 16px; */
    }

    .upper-content h1 {
        font-size: 10.2rem;
        padding: 280px 0px 0px;

    }

    .upper-content h3 {
        font-size: 4rem;
        padding: 40px;

    }

    .upper-content p {
        font-size: 2.4rem;
        padding: 24px 24px 240px;
    }
}

.main {
    position: relative;

}

.upper-content {
    background-image: url('./imgs/hero_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: var(--white);
    /* height: calc(100vh - 199px); */
    text-align: center;

}

.upper-content h1 {
    color: var(--white);
    font-size: 15rem;
    padding: 13.67vw 0vw 0vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.upper-content h3 {
    color: var(--white);
    padding: 1.95vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 5rem;
}

.upper-content p {
    color: var(--white);
    font-size: 3rem;
    padding: 1.17vw 1.17vw 11.72vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

@media (max-width: 742px) {

    .upper-content h1 {
        font-size: 8.4rem;
        padding: 196px 0px 0px;
    }

    .upper-content h3 {
        font-size: 2.8rem;
        padding: 28px;
    }

    .upper-content p {
        font-size: 1.6rem;
        padding: 16.8px 16.8px 168px;
    }
}

@media (max-width: 430px) {
    .upper-content h1 {
        font-size: 6rem;
        padding: 140px 0px 0px;

    }

    .upper-content h3 {
        font-size: 2rem;
        padding: 20px;
        font-weight: 600;
    }

    .upper-content p {
        font-size: 1.2rem;
        padding: 12px 12px 120px;
    }

    .logo {
        margin: 0px 0px 0px -10px;
        padding: 6px;
    }

    .logo h1 {
        font-size: 1.6rem;
    }

    .icon-btn i {
        font-size: 1.6rem;
    }
}

@media (max-width: 375px) {
    .logo {
        font-size: 6.4rem;
        padding: 4.8px;

    }

    .logo h1 {
        margin: 0px 0px 0px 7.6px;
        font-size: 1.2rem;

    }

    .icon-btn i {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .upper-content h1 {
        font-size: 4.8rem;
        padding: 112px 0px 0px;

    }

    .upper-content h3 {
        font-size: 1.6rem;
        padding: 16px;
    }

    .upper-content p {
        font-size: 0.9rem;
        padding: 9.6px 9.6px 96px;

    }
}



.text-para-sec {
    position: relative;
}

.parent-text {
    background-color: var(--blue);
    padding: 0px 0px 20rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.parent-text h2 {
    color: var(--white);
    font-size: 8rem;
    padding: 100px 0px 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 350;
}

.parent-text h3 {
    color: var(--white);
    font-family: 'Roboto Serif';
    font-weight: 500;
    font-size: 3rem;
    padding: 20px;
}

.parent-text p {
    color: var(--white);
    padding: 30px 30px 80px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Serif';
}

.trail-btn {
    font-size: 2.5rem;
    font-family: 'josefin sans', sans-serif;
    background: linear-gradient(rgba(131, 44, 44, 0.438), rgb(220, 20, 60));
    color: var(--white);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.trail-btn:hover {
    transform: scale(1.2);
    background: linear-gradient(black, rgba(128, 128, 128, 0.829));
}

.parent-text h6 {
    font-size: 2rem;
    padding: 50px;
    font-family: 'josefin sans', sans-serif;
    color: var(--white);
    font-weight: 200;
}

.white-box {
    background-color: var(--white);
}

.white-box {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.white-box>center>img {
    padding: 10rem 0rem 8rem;
    position: relative;
    bottom: 25rem;
    
}
.white-box>h3{
    font-size: 4rem;
    margin: -100px 0px 0px;
    font-family: 'josefin sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}
.white-box p{
    font-size: 3rem;
    font-family: 'josefin sans', sans-serif;
    padding: 50px;
    font-weight: 200;
}
.read-btn{
     font-size: 2rem;
     font-family: 'josefin sans', sans-serif;
     cursor: pointer;
     border: none;
     border-radius: 10px;
     background: linear-gradient(var(--purple, --blue));
     padding: 10px 15px;
     color: var(--white);
     font-weight: 200;
}
.read-btn:hover{
    transform: scale(1.1);
    background: linear-gradient(var(--blue, --purple));
    color: var(--white);
}
.mac-pic-sec{
    padding-top: 200px;
}
.mac-pic-sec img{
    width: 640px;
}
@media (max-width: 650px)
{
    .parent-text h2{
        font-size: 3.2rem;
        padding: 4rem 0rem 0rem;
    }
    .parent-text>h3{
        font-size: 1.2rem;
        padding: 8px;

    }
    .parent-text p{
        font-size: 0.8rem;
        padding: 12px 3rem 32px;
    }
    .trail-btn{
        font-size: 1rem;
        padding: 6px;
    }
    .parent-text h6{
        font-size: 0.8rem;
        padding: 2rem;
    }
    .white-box>center>img{
        padding: 4rem 0rem 3.2rem;
       width: 340px;
        position: relative;
        bottom: 15rem;
    }
    .white-box>h3{
        font-size: 1.6rem;
    }
    .white-box p{
        font-size: 1.2rem;
        padding: 20px;
    }
    .read-btn{
        font-size: 0.8rem;
        padding: 4px;
    }
    .mac-pic-sec img{
        padding: 0px 0px 0px;
    }
    .mac-pic-sec{
        padding: 150px 0px 0px;
    }
}
@media (max-width: 375px )
{
    .parent-text h2{
        font-size: 2.5rem;
        padding: 32px 0px 0px;
    }
    .parent-text h3{
        font-size: 0.9rem;
        padding: 6.4px;

    }
    .parent-text p{
        font-size: 0.6rem;
        padding: 9.6px 9.6px 25.6px;
    }
    .trail-btn{
        font-size: 0.8rem;
        padding: 4.8px;
    }
    .parent-text h6{
        font-size: 0.6rem;
        padding: 16px;
    }
    .white-box>center>img{
        padding: 32px 0px 25.6px;
        width: 192px;
        bottom: 13rem;
    }
    .white-box h3{
        font-size: 1.2rem;
        margin: -96px 0px 0px;

    }
    .white-box p{
        font-size: 0.9rem;
        padding: 16px;
    }
    .read-btn{
        font-size: 0.6rem;
        padding: 3.2px
    }
}
